
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-collapse collapse show" id="navbarColor01" style="">
    <ul class="navbar-nav ml-auto"> 
        {% if app.user %}
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <img src="http://placehold.it/64x64" class="avatar avatar-mini" alt="Avatar de {{ app.user.fullName }}"> {{ app.user.fullName }}
                </a>
                <div class="dropdown-menu dropdown-menu-rigth" aria-labelledby="accountDropdownLink">
                    <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                    <a href="{{ path('register_edit') }}" class="dropdown-item">Modifier mon profil</a>
                    <a href="{{ path('password_edit') }}" class="dropdown-item">Modifier mon mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('app_logout') }}" class="dropdown-item">Deconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_register') }}>Inscription</a>
            </li>
            
            <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">Connexion</a>
                <div class="dropdown-menu dropdown-menu-rigth" aria-labelledby="accountDropdownLink">
                    <a href="{{ path('app_login') }}" class="dropdown-item">Utilisateur</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('admin_account_login') }}" class="dropdown-item">Administrateur</a>
                </div>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>

{% for label, messages in app.flashes %}
  <div class="container">
    <div class=" text-center alert alert-{{ label }}">
      {% for message in messages %}
      <p> {{ message | raw }}
      {% endfor %}
    </div>
  </div>
{% endfor %}