{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modification de la réservation numéro {{ booking.id }}{% endblock %}

{% form_theme form _self %}

{% block body %}

<div class="container">
    <h1 class="my-5">Modifier la reservation {{ booking.id }}</h1>

    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <p><strong>Annonce lié</strong> : {{ booking.annonce.title }}</p>
                <p><strong>Auteur</strong> : {{ booking.booker.fullName }}</p>
                <p><strong>Date de création</strong> : {{ booking.createAt | date('d/m/Y H:i') }}</p>
                
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary rounded p-1 mt-3 float-right">
        <i class="fas fa-pen"></i>
        Enregistrer les Modifications
    </button>
</div>

    {{ form_end(form) }}

{% endblock %}

